.arrow{
    width: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index:-1;
}
.arrowHover{
	transform: scale(1.15);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index:-1;
}
.content{
	left: 0;
	z-index:1;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	transition: all 0.6s ease;
	-ms-transform: translate(0px, 0px); /* IE 9 */
  	-webkit-transform: translate(0px, 0px); /* Safari */
  	transform: translate(0px, 0px); /* Standard syntax */
}
.contentAppearRight{
    -webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	transition: all 0.6s ease;
	-ms-transform: translate(0px, -40px); /* IE 9 */
  	-webkit-transform: translate(0px, -40px); /* Safari */
  	transform: translate(0px, -40px); /* Standard syntax */
}