.item {
	color: black;
	width: 100%;
	position: absolute;
	opacity: 0;
	top:0;
	transition: opacity .75s ease-in-out;
}
.item-active {
	opacity: 1;
	transition: opacity 1.75s ease;
	position: relative;
	top:0;
}
.arrow{
	cursor: pointer;
    width: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index:-1;
}
.arrowHover{
	cursor: pointer;
	transform: scale(1.2);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index:-1;
}